/* ----- TAILWIND ----- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- RESET ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----- COLOR VALUES ----- */
:root {
  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;
}

.bg-dark {
  background-color: hsl(var(--color-dark));
}

.bg-accent {
  background-color: hsl(var(--color-light));
}

.bg-white {
  background-color: hsl(var(--color-white));
}

.text-dark {
  color: hsl(var(--color-dark));
}

.text-accent {
  color: hsl(var(--color-light));
}

.text-white {
  color: hsl(var(--color-white));
}