/* ----- TAILWIND ----- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- RESET ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--font-sans-normal);
  font-size: var(--font-400);
  color: hsl(var(--color-white));
  background-color: hsl(var(--color-dark));
  line-height: 1.5;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* ----- Colors ----- */
  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;

  /* ----- Font sizes ----- */
  --font-900: 9.375rem;
  --font-800: 6.25rem;
  --font-700: 3.5rem;
  --font-600: 2rem;
  --font-500: 1.75rem;
  --font-400: 1.125rem;
  --font-300: 1rem;
  --font-200: .875rem;

  /* ----- Font families ----- */
  --font-serif: "Bellefair", serif;
  --font-sans-cond: "Barlow Condensed", sans-serif;
  --font-sans-normal: "Barlow", sans-serif;
}

/* ----- Colors ----- */

.bg-dark {
  background-color: hsl(var(--color-dark));
}

.bg-accent {
  background-color: hsl(var(--color-light));
}

.bg-white {
  background-color: hsl(var(--color-white));
}

.text-dark {
  color: hsl(var(--color-dark));
}

.text-accent {
  color: hsl(var(--color-light));
}

.text-white {
  color: hsl(var(--color-white));
}

/* ----- Typography ----- */

.font-serif {
  font-family: var(--font-serif);
}

.font-sans-cond {
  font-family: var(--font-sans-cond);
}

.font-sans-normal {
  font-family: var(--font-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.font-900 {
  font-size: var(--font-900);
}

.font-800 {
  font-size: var(--font-800);
}

.font-700 {
  font-size: var(--font-700);
}

.font-600 {
  font-size: var(--font-600);
}

.font-500 {
  font-size: var(--font-500);
}

.font-400 {
  font-size: var(--font-400);
}

.font-300 {
  font-size: var(--font-300);
}

.font-200 {
  font-size: var(--font-200);
}

.font-900,
.font-800,
.font-700,
.font-600 {
  line-height: 1.1;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
}

@media(min-width: 45rem) {
  .grid-container {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2em, 1fr) repeat(2, minmax(0px, 30rem)) minmax(2em, 1fr);
  }

  .grid-container>*:first-child {
    grid-column: 2;
  }

  .grid-container>*:last-child {
    grid-column: 3;
  }

}


.numbered-title {
  font-family: var(--font-sans-cond);
  font-size: var(--font-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: .5em;
  font-weight: var(--font-700);
  color: hsl(var(--color-white) / .25);
}

.large-button {
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  aspect-ratio: 1;
  text-decoration: none;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: hsl(var(--color-white) / .15);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 500ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* ----- Navigation ----- */

.primary-navigation {
  gap: 1rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a>span {
  font-weight: var(--font-700);
  margin-right: .5em;
}

.underline-indicators>* {
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  cursor: pointer;
  border-bottom: .2rem solid hsl(var(--color-white) / 0);
}

.underline-indicators>*:hover,
.underline-indicators>*:focus {
  border-color: hsl(var(--color-white) / .5);
}

.underline-indicators>.active,
.underline-indicators>[aria-selected="true"] {
  border-color: hsl(var(--color-white) / 1);
}

.tab-list {
  --gap: 3rem;
}

.dot-indicators>* {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: .5em;
  background-color: hsl(var(--color-white) / .25);
}

.dot-indicators>*:hover,
.dot-indicators>*:focus {
  background-color: hsl(var(--color-white) / .5);
}

.dot-indicators>[aria-selected="true"] {
  background-color: hsl(var(--color-white) / 1);
}

.number-indicators>* {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 2em;
  background-color: hsl(var(--color-dark));
  color: hsl(var(--color-white));
  border: 1px solid hsl(var(--color-white) / .15);
  transition: all 500ms ease-in-out;
}

.number-indicators>*:hover {
  border-width: 3px;
}

.number-indicators>[aria-selected="true"] {
  background-color: hsl(var(--color-white) / 1);
  color: hsl(var(--color-dark));
}